.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

/.quarto/
**/*.quarto_ipynb

# Large data files
Take-home Ex/TH_EX2/transactions_data (1).csv
Take-home Ex/TH_EX2/customer_data (1).csv
Take-home Ex/TH_EX2/ShinyApp/
